<div class="card">
  <%= link_to image_tag(blog.image, class: :card__img ), blog_path(blog.id)%>
  <div class="card__body">
    <%= link_to blog.title, blog_path(blog.id), class: :card__title%>
    <p class="card__summary">
      <%= blog.catch %>
    </p>
    <%= link_to blog.user.name, root_path, class: :card__user %>
  </div>
</div>