<div class="main">
  <%= link_to "戻る", 'javascript:history.back()', class: :event__edit__child__back %>
  <div class="inner">
    <div class="form__wrapper">
      <h2 class="page-heading">フォーム編集</h2>
      <%= render partial: "form", locals: { form: @form } %>
    </div>
  </div>
</div>