// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.calendar {
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

.calendar__btn{
    display: inline-block;
    padding: 0.4em 1.6em;
    margin-left: 60px;
    margin-bottom: 20px;
    font-size: 0.8em;
    color: black;
    background-color: lightgrey;
    text-decoration: none;
    user-select: none;
    border-radius: 3px;
  }
  .calendar__btn:hover{
    color: #fff;
    background: rgb(6, 184, 255);
  }

.table__col4{
    font-size: 15px;
    text-align: left;
    font-weight: bold;
    background: #fafafa;
    border-collapse: collapse;
    border: 1px solid #f5f5f5;
    width: 100px;
    padding: 8px;
  }
  .table__col5{
    font-size: 15px;
    text-align: left;
    border: 1px solid #f5f5f5;
    border-collapse: collapse;
    width: 20%;
    padding: 16px 8px;
  }
  .table__col6{
    font-size: 15px;
    text-align: center;
    border: 1px solid #f5f5f5;
    border-collapse: collapse;
    width: 10px;
    padding: 16px 8px;
  }

  .parent{
    display: grid;
    justify-content: center;
    margin-bottom: 10px;
    overflow: scroll;
  }

  .show__wrapper{
    text-align: center;
  }