// Place all the styles related to the tops controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


// 基本要素

a{
    color: black;
    text-decoration: none;
}

.container {
    max-width: 1160px;
    padding: 0 40px;
    margin: 0 auto;
}


