// Place all the styles related to the tops controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


// 基本要素

a{
    color: white;
    text-decoration: none;
}

.container {
    padding: 0 40px;
    margin: 0 auto;
}


// ヘッダー

header {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

header > .container {
    height: 100px;
    display: flex;
    align-items: center;
    max-width: none;
    padding: 0 60px;
}


// ロゴ

.area_logo_header .top_logo{
    display: block;
}

.area_logo_header img{
    height: 60px;
    vertical-align: bottom;
}

// ヘッダーナビ

.nav_header{
    margin: 0 0 0 500px;
}

.list_nav_header{
    display: flex;
    align-items: center;
    margin: 0 -15px;
}

.list_nav_header > li{
    padding: 0 20px;
    color: white;
}

.list_nav_header > li:hover{
    color: #fff;
    background: rgb(6, 184, 255);
    border-radius: 3px;
}


// トップビュー

.area_top_view{
    background: url(../images/top.png) no-repeat bottom center;
    background-size: cover;
}

.area_top_view > .container{
    height: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}